*{-webkit-box-sizing:border-box;box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html, body{width:100%;height:100%;font-family:'Open Sans', sans-serif;margin:0;font-size:10px;line-height:1.43;}
a{text-decoration:none;cursor:pointer;}
h1, h2{line-height:1.1;margin-top:20px;margin-bottom:10px;}
ul{list-style:none;padding:0px;margin-top:0px;}

/* header */
header{width:100%;border-bottom:1px solid #e5e5e5;position:fixed;background:#fff;z-index:999;}
header h1{font-size:3.2rem;font-weight:bold;float:left;margin:0px 0px 10px 0px;padding-top:10px;padding-left:15px;}
header h1>a{color:#000;}
header h1>a:hover{color:#000;}
.nav{float:right;margin:0;font-size:1.6rem;}
.nav>li{float:left;border-left:1px solid #E1E1E1;line-height:35px;position:relative;}
.nav>li>a{color:#000;padding:10px 20px;display:block;cursor:pointer;}
.nav>li>a>span{position:absolute;top:8px;left:8px;padding:1px 4px;}
.nav span{color:#fff;font-size:1.2rem;font-weight:700;line-height:1;white-space:nowrap;border-radius:0.24rem;padding:0.2rem 0.5rem;font-size:75%;}
#dropdown-menu{position:absolute;z-index:1000;background:#fff;min-width:200px;display:none;border-radius:3px;font-size:1.2rem;font-weight:400;border:1px solid rgba(0,0,0,.15);box-shadow:0 6px 12px rgba(0,0,0,.175);padding:5px 0;margin:2px 0 0;text-align:left;list-style:none;left:auto;right:0;}
#dropdown-menu li>a{color:#333;display:block;padding:3px 20px;clear:both;line-height:1.6rem;white-space:normal;}
#dropdown-menu li>a>span{float:right;}
#dropdown-menu li:not(.dropdown-header):hover{background:#f5f5f5;}
.dropdown-header{display:block;line-height:1.42857143;color:#777;padding:3px 20px;}
.divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5;min-width:200px;}

/* footer */
.footer{text-align:center;margin-top:40px;margin-bottom:20px;font-size:1.4rem;}
.footer a{color:#1E91CF;}

/* sidebar */
.sidebar{height:100%;background-color:#515151;width:16%;float:left;padding-top:56px;}
.sidebar-title{color:#fff;padding-top:10px;padding-left:15px;border-bottom:1px solid #585858;}
.sidebar-title h2{font-size:1.8rem;font-weight:normal;margin:0px;}
.sidebar-title ul>li:last-child{margin-top:3px;font-size:1.4rem;}
.sidebar-title ul>li small{margin-left:10px;}
.sidebar-list li{font-size:1.4rem;cursor:pointer;}
.sidebar-list li a{color:#C4C4C4;display:block;padding:10px;border-bottom:1px solid #585858;}
.sidebar-list li span{margin-left:10px;}
.sidebar-list>li:not(:first-child)>.sl-name::after{font-family:FontAwesome;content:"\f105";float:right;margin-right:8px;}
.sidebar-list>li:not(:first-child)>.sl-name-down::after{font-family:FontAwesome;content:"\f107";float:right;margin-right:8px;}
.sidebar-list-child{font-size:1.2rem;display:none;background-color:#444444;}
.sidebar-list-child a::before{padding-left:20px;content:"\f101";font-size:14px;font-family:FontAwesome;transition:margin ease 0.5s;}
@keyframes run{from{margin-left:10px;}to{margin-left:20px;}}
.sidebar-list-child li:hover span{
	animation:run 0.5s forwards;
	-moz-animation: run 0.5s forwards; /* Firefox */
	-webkit-animation: run 0.5s forwards; /* Safari å’Œ Chrome */
	-o-animation: run 0.5s forwards; /* Opera */
}
#sidebar-show .sidebar-list-child{display:block;}

/* content */
.content{width:84%;max-height:100%;overflow:auto;float:left;padding-left:20px;padding-right:20px;padding-top:56px;}
.content>h2{font-size:3rem;display:inline-block;font-weight:500;}
.breadcrumb{display:inline-block;font-size:1.2rem;padding:8px 15px;margin-bottom:20px;border-radius:4px;}
.breadcrumb li{display:inline-block;}
.breadcrumb>li+li::before{content:"/";font-family:FontAwesome;color:#BBBBBB;padding:0 5px;}
.breadcrumb>li a{color:#337ab7;}
.breadcrumb .active{color:#777;}
.preview{width:25%;float:left;padding-right:15px;padding-left:15px;}
.preview:first-child{padding-left:0px !important;}
.preview:last-child{padding-right:0px !important;}
.preview>.title{border-radius:3px 3px 0px 0px;background:#1E91CF;}
.preview>.move{border-radius:0px 0px 3px 3px;background:#3DA9E3;}
.preview>.title,.preview>.move{font-size:1.2rem;padding-left:5px;padding-top:3px;padding-bottom:3px;}
.preview>.body{font-size:4rem;background:#279FE0;}
.preview,.preview a{color:#fff;}
.preview i{padding:20px 20px 20px 15px;}
.preview span{float:right;padding-right:15px;padding-top:10px;}
.index-panel-box, .chart-box{width:50%;float:left;}
.index-panel, .chart{border:1px solid #e8e8e8;margin-top:20px;border-radius:3px;}
.index-panel{margin-right:15px;}
.chart{margin-left:15px;}
.panel-title, .chart-title{font-size:1.6rem;color:#595959;padding:5px 3px 5px 3px;border-bottom:1px solid #e8e8e8;background:#fcfcfc;}
#panel-body, #cart-body{width:100%;height:300px;font-size:1.4rem;}
#panel-body ul{padding-top:20px;margin:0px 20px 0px 20px;border-bottom:1px solid #e8e8e8;}
#panel-body ul li{margin-top:3px;margin-bottom:3px;}