*{-webkit-box-sizing:border-box;box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html,body,#app{width:100%;height:100vh;font-family:'Open Sans', sans-serif;margin:0;font-size:10px;line-height:1.43;}
a{text-decoration:none;cursor:pointer;}
h1,h2{line-height:1.1;margin-top:20px;margin-bottom:10px;}
ul{list-style:none;padding:0px;margin-top:0px;}
.fade{display:none;}
.not-found{font-size:2.2rem;margin-left:30px;}
@keyframes run{from{margin-left:10px;}to{margin-left:20px;}}
.default-msg,.info-msg,.warning-msg,.danger-msg{padding:9px 12px;border-radius:3px;display:inline-block;cursor:pointer;}
.default-msg{background:#fcfcfc;color:#333;border:1px solid #e8e8e8;
	&:hover{background:#ecf5ff;}
}
.info-msg{background:#409eff;color:#fff;
	&:hover{background:#79bbff;}
}
.success-msg{background:#67c23a;color:#fff;
	&:hover{background:#95d475;}
}
.warning-msg{background:#e6a23c;color:#fff;
	&:hover{background:#eebe77;}
}
.danger-msg{background:#f56c6c;color:#fff;
	&:hover{background:#f89898;}
}

/* header */
header{width:100%;border-bottom:1px solid #e5e5e5;position:fixed;background:#fff;z-index:999;
	h1{font-size:3.2rem;font-weight:bold;float:left;margin:0px 0px 10px 0px;padding-top:10px;padding-left:15px;
		>a{color:#000;
			&:hover{color:#000;}
		}
	}
	.nav{float:right;margin:0;font-size:1.6rem;
		>li{float:left;border-left:1px solid #E1E1E1;line-height:35px;position:relative;
			>a{color:#000;padding:10px 20px;display:block;cursor:pointer;
				>span{position:absolute;top:8px;left:8px;padding:1px 2px;}
			}
		}
		span{color:#fff;font-size:1.2rem;font-weight:700;line-height:1;white-space:nowrap;border-radius:0.24rem;padding:0.2rem 0.5rem;font-size:75%;}
		.dropdown-menu{position:absolute;z-index:1000;background:#fff;min-width:200px;border-radius:3px;font-size:1.2rem;font-weight:400;border:1px solid rgba(0,0,0,.15);box-shadow:0 6px 12px rgba(0,0,0,.175);padding:5px 0;margin:2px 0 0;text-align:left;list-style:none;left:auto;right:0;
			li{
				&:not(.dropdown-header):hover{background:#f5f5f5;}
				a{color:#333;display:block;padding:3px 20px;clear:both;line-height:1.6rem;white-space:normal;
					span{float:right;}
				}
			}
			.dropdown-header{display:block;line-height:1.42857143;color:#777;padding:3px 20px;}
			.divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5;min-width:200px;}
		}
		.header-icon{width:1.6rem;height:1.6rem}
	}
}

/* footer */
.footer{text-align:center;margin-top:40px;margin-bottom:20px;font-size:1.4rem;
	a{color:#1E91CF;}
}

/* sidebar */
.sidebar{height:100%;background-color:#515151;width:16%;float:left;padding-top:56px;
	.sidebar-title{color:#fff;padding-top:10px;padding-left:15px;border-bottom:1px solid #585858;
		h2{font-size:1.8rem;font-weight:normal;margin:0px;}
		li{
			&:last-child{margin-top:3px;font-size:1.4rem;}
			small{margin-left:10px;}
		}
	}
	.sidebar-list{
		li{font-size:1.4rem;cursor:pointer;
			a,.sl-name{color:#C4C4C4;padding:10px;border-bottom:1px solid #585858;display:flex;align-items:center;}
			span{margin-left:10px;}
			svg:first-child{color:#C4C4C4;width:1.6rem;height:1.6rem;margin-left:10px;}
			svg:last-child{color:#C4C4C4;width:1.2rem;height:1.2rem;margin-left:auto;}
			.rotate{transition:transform 0.3s ease;transform:rotate(90deg);}
			.sidebar-enter-active,.sidebar-leave-active{transition:all 0.3s ease;max-height:200px;overflow:hidden;}
			.sidebar-enter-from,.sidebar-leave-to{max-height:0;opacity:0;transform:translateY(-10px);}
			.sidebar-enter-to,.sidebar-leave-from{max-height:200px;opacity:1;transform:translateY(0px);}
		}
		.sl-child{font-size:1.2rem;background-color:#444444;
			li{
				&:hover span{
					animation:run 0.5s forwards;
					-moz-animation:run 0.5s forwards; /* Firefox */
					-webkit-animation:run 0.5s forwards; /* Safari å’Œ Chrome */
					-o-animation:run 0.5s forwards; /* Opera */
				}
			}
		}
	}
}

/* content */
.content{width:84%;max-height:100%;overflow:auto;float:left;padding-left:20px;padding-right:20px;padding-top:56px;
	>h2{font-size:3rem;display:inline-block;font-weight:500;}
	.breadcrumb{display:inline-block;font-size:1.2rem;padding:8px 15px;margin-bottom:20px;border-radius:4px;
		li{display:inline-block;
			a{color:#337ab7;}
			span{color:#777;}
		}
		li+li::before{content:"/";font-family:FontAwesome;color:#BBBBBB;padding:0 5px;}
	}
	.preview{width:25%;float:left;padding-right:15px;padding-left:15px;color:#fff;
		&:first-child{padding-left:0px !important;}
		&:last-child{padding-right:0px !important;}
		a{color:#fff;}
		span{float:right;padding:10px 15px 10px 0px;}
		.title{font-size:1.2rem;padding-left:5px;padding-top:3px;padding-bottom:3px;border-radius:3px 3px 0px 0px;background:#1E91CF;}
		.move{font-size:1.2rem;padding-left:5px;padding-top:3px;padding-bottom:3px;border-radius:0px 0px 3px 3px;background:#3DA9E3;}
		.body{font-size:4rem;background:#279FE0;display:flex;align-items:center;
			.preview-icon{width:60px;padding-left:5px;}
			span{margin-left:auto;}
		}
	}
	.index-panel-box{width:50%;float:left;
		.index-panel{border:1px solid #e8e8e8;margin-top:20px;border-radius:3px;margin-right:15px;}
		.panel-title{font-size:1.6rem;color:#595959;padding:5px 3px 5px 3px;border-bottom:1px solid #e8e8e8;background:#fcfcfc;}
		.panel-body{width:100%;height:300px;font-size:1.4rem;
			ul{padding-top:20px;margin:0px 20px 0px 20px;border-bottom:1px solid #e8e8e8;
				li{margin-top:3px;margin-bottom:3px;}
			}
		}
	}
	.chart-box{width:50%;float:left;
		.chart{border:1px solid #e8e8e8;margin-top:20px;border-radius:3px;margin-left:15px;
			.chart-title{font-size:1.6rem;color:#595959;padding:5px 3px 5px 3px;border-bottom:1px solid #e8e8e8;background:#fcfcfc;}
			.chart-body{width:100%;height:300px;font-size:1.4rem;}
		}
	}
}

/* list & detail */
.operation-bar{float:right;margin-top:20px;
	a:not(:first-child){margin-left:3px;}
	svg{width:1.4rem;height:1.4rem;}
}
.content-box{border:1px solid #e8e8e8;border-top:2px solid #bfbfbf;border-radius:3px;
	.content-title{font-size:1.6rem;color:#595959;padding:8px 3px 8px 8px;border-bottom:1px solid #e8e8e8;background:#fcfcfc;display:flex;align-items:center;
		svg{width:1.8rem;height:1.8rem;}
	}
	.content-body{padding-left:15px;padding-right:15px;color:#545454;
		svg{width:1.6rem;height:1.6rem;}
		.content-search{margin-top:20px;margin-bottom:25px;background:#f5f5f5;border:1px solid #e3e3e3;min-height:20px;padding:20px;border-radius:4px;
			.el-form-item{width:90%;margin-bottom:0px;
				.el-input__wrapper,.el-select__wrapper{height:34px;}
			}
			.el-button{padding:17px 12px;font-size:14px;font-weight:400;margin-top:20px;}
		}
		.table{font-size:1.2rem;border:1px solid #ddd;width:100%;max-width:100%;margin-bottom:20px;border-spacing:0;border-collapse:collapse;
			td{display:table-cell;vertical-align:middle;border:1px solid #ddd;padding:8px;
				svg{vertical-align:top;color:#515151;}
				&:first-child{width:1px;}
			}
			span{cursor:pointer;}
		}
		.page{float:right;font-size:1.4rem;
			.active{background:#409eff;
				color:#fff;
			}
			ul{display:flex;margin:0;}
			li{padding:5px 12px;margin-bottom:20px;border:1px solid #f0f0f0;position:relative;min-width:33px;min-height:31px;
				&:not(:last-child){border-right:none;}
				&:first-child{border-top-left-radius:4px;border-bottom-left-radius:4px;}
				&:last-child{border-top-right-radius:4px;border-bottom-right-radius:4px;}
				a{color:#409eff;width:100%;height:100%;position:absolute;top:0;left:0;display:flex;align-items:center;justify-content:center;}
			}
		}
		.content-form{margin-top:25px;
			.el-form-item__label{width:18%;padding-right:30px;}
			.ck-editor{width:100%;
				.ck-editor__editable_inline{min-height:300px;max-height:500px;overflow-y:auto;}
			}
			.logo-image-upload .el-upload{width:100px;height:100px;display:flex;justify-content:center;align-items:center;border:1px dashed #f1f3f5;border-radius:6px;
				&:hover{cursor:pointer;border:1px dashed #409eff;}
				svg{color:#9198a1;}
			}
		}
	}
}

/* login */
.login-content{padding-top:56px;font-size:1.4rem;
	.login-box{margin-top:40px;margin-left:33.3%;width:32%;border:1px solid #E5E5E5;border-radius:3px;
		.login-title{background:#fcfcfc;padding:10px 15px;border-bottom:1px solid #E5E5E5;}
		.login-form{margin:15px 15px 30px 15px;}
	}
}